.gridItem,
.checkbox {
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out,
    background-color 0.5s ease-in-out, top 0.7s ease-in-out,
    left 0.7s ease-in-out;
}

.outerContainer {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "body";
  gap: 5px;
  padding: 20px;
  width: fit-content;
  margin: auto;
  transition: opacity 1s ease-in-out;
  position: relative;
}

.navbar {
  padding: 20px 25px;
  border-radius: 10px 10px 0px 0px;
  grid-area: header;
  color: black;
  transition: opacity 1s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageContainer {
  padding: 20px 25px;
  border-radius: 10px 10px 0px 0px;
  transition: opacity 1s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.imageContainer {
  grid-area: body;
  border-radius: 0px 0px 10px 10px;
}

.imageGrids {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  grid-gap: 20px;
  width: fit-content;
  margin: auto;
}

.gridItem {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  position: relative;
}

.gridItem:first-child {
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.gridItem:hover {
  cursor: pointer;
  filter: brightness(0.8);
  background: #dcdcdc;
}

.checkbox {
  accent-color: blue;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  cursor: pointer;
}

.gridItem:hover .checkbox {
  opacity: 1;
}

.gridItem:hover .checkbox:not(:hover) {
  opacity: 1;
}

@media screen and (min-width: 1400px) {
  .imageGrids {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(5, 200px);
    width: fit-content;
    margin: auto;
  }
}

@media screen and (max-width: 1399px) {
  .imageGrids {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(5, 150px);
    width: fit-content;
    margin: auto;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 950px) {
  .mainContainer {
    width: fit-content; /* Set the mainContainer width to 100% */
    grid-template-areas: "header" "body"; /* Single-column layout */
    padding: 5px;
  }

  .imageGrids {
    grid-auto-rows: 160px;
    grid-template-columns: repeat(4, 160px);
    width: 100%; /* Set the imageGrids width to 100% */
    margin: auto;
  }

  .imageContainer {
    padding: 20px 20px;
    width: fit-content;
  }

  .navbar {
    padding: 20px 20px;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 750px) {
  .imageGrids {
    grid-auto-rows: 190px;
    grid-template-columns: repeat(2, 190px);
    width: 100%; /* Set the imageGrids width to 100% */
    margin: auto;
  }

  .mainContainer {
    width: fit-content; /* Set the mainContainer width to 100% */
    padding: 5px;
  }

  .imageContainer {
    padding: 20px 20px;
  }

  .navbar {
    padding: 20px 20px;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}
