/* Styling for grid items and checkboxes with transitions */
.gridItem,
.checkbox {
  transition: opacity 1s ease-in-out, filter 0.5s ease-in-out,
    background-color 0.7s ease-in-out, top 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

/* Styling for the outer container of the gallery */
.outerContainer {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #f1f9ec;
}

/* Styling for the main container of the gallery */
.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header" "body";
  gap: 4px;
  width: fit-content;
  background-color: #f0fff0;
  position: relative;
  transition: 1s ease-in-out;
  margin: 20px auto;
}

/* Styling for the header of the gallery */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  border-radius: 10px 10px 0px 0px;
  grid-area: header;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  opacity: 1;
  height: 35px;
  transition: opacity 1s ease-in-out;

}

/* Styling for the container of images */
.imageContainer {
  padding: 20px 25px;
  grid-area: body;
  border-radius: 0px 0px 10px 10px;
  transition: opacity 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* Styling for the grid layout of images */
.imageGrids {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  grid-gap: 20px;
  width: fit-content;
  margin: auto;
}

/* Styling for individual grid items (image cards) */
.gridItem {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

/* Special styling for the first grid item */
.gridItem:first-child {
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* Hover effect for grid items */
.gridItem:hover {
  cursor: pointer;
  filter: brightness(0.9);
  background: #dcdcdc;
}

/* Hover effect for checkboxes */
.gridItem:hover .checkbox {
  opacity: 1;
}

/* Additional responsive styling based on screen width breakpoints */
@media screen and (min-width: 1400px) {
  /* Adjust grid item size for larger screens */
  .imageGrids {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(5, 200px);
    width: fit-content;
    margin: auto;
  }
}

@media screen and (max-width: 1399px) {
  /* Adjust grid item size and checkbox size for medium-sized screens */
  .imageGrids {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(5, 150px);
    width: fit-content;
    margin: auto;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }

  .navbar {
    padding: 10px 25px;
  }
}

/* Additional responsive styling for smaller screens */
@media screen and (max-width: 950px) {
  .mainContainer {
    width: fit-content;
    grid-template-areas: "header" "body";
    margin: 20px auto;
  }

  .imageGrids {
    grid-auto-rows: 160px;
    grid-template-columns: repeat(4, 160px);
    width: 100%;
    margin: auto;
  }

  .imageContainer {
    padding: 20px 20px;
    width: fit-content;
  }

  .navbar {
    padding: 20px 20px;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}

/* Additional responsive styling for smaller screens */
@media screen and (max-width: 750px) {
  .imageGrids {
    grid-auto-rows: 190px;
    grid-template-columns: repeat(2, 190px);
    width: 100%;
    margin: auto;
  }

  .mainContainer {
    width: fit-content;
    margin: 20px auto;
  }

  .imageContainer {
    padding: 20px 20px;
  }

  .navbar {
    padding: 20px 20px;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}

/* Additional responsive styling for even smaller screens */
@media screen and (max-width: 485px) {
  .imageGrids {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(2, 150px);
    width: 100%;
    margin: auto;
  }

  .mainContainer {
    width: fit-content;
    margin: 20px auto;
  }

  .imageContainer {
    padding: 10px 10px;
  }

  .navbar {
    padding: 10px 10px;
  }

  .checkbox {
    height: 15px;
    width: 15px;
  }
}
