.imageUploadContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imageUploadButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.imageUploadIcon {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-bottom: 15px;
}

.imageUploadLabel {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.checkbox {
  accent-color: #317873;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  cursor: pointer;
}

.text {
  font-size: 16px;
  font-weight: 600;
  color: #3b7a57;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.textDelete {
  font-size: 16px;
  font-weight: 600;
  color: #3b7a57;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: #3b7a57;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}